apiVersion: v1
kind: Pod
metadata:
  name: {{ .AppName }}--liveness-pod
  labels:
    ai-services.io/application: "{{ .AppName }}"
spec:
  containers:
    - name: main
      image: docker.io/library/python:3.11-slim
      command:
        - /bin/sh
        - -c
        - |
          apt-get update && apt-get install -y curl
          echo "Starting server..."
          sleep 30
          python -m http.server 8080
      ports:
        - containerPort: 8080
      livenessProbe:
        httpGet:
          path: /
          port: 8080
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 2
        failureThreshold: 3
